
/* Footer section starts */

footer {
    background-color: #f8f8f8;
    padding: 90px;
    margin: 10px;
    /* width: 100%; */
    /* height: 250px; */
  }
  .container {
    display: flex;
    /* width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 17.2px;
    margin-left: 17.2px;
    justify-content: space-around;
    /* height: 250px; */
  }
  .container .details {
    display: flex;
    flex-direction: column;
    /* margin-left: 80px; */
    gap: 20px;
  }
  
  .container .details img {
    width: 200px;
  }
  
  .container ul,
  a {
    list-style: none;
    text-decoration: none;
    color: black;
  }
  .container li {
    margin-bottom: 10px;
  }
  
  .container .menu,
  .account,
  .news-letter {
    display: flex;
    flex-direction: column;
    /* align-items:center; */
    gap: 30px;
  }
  
  .container .menu li a,
  .container .account li a {
    color: black;
  }
  
  .news-letter form {
    display: flex;
    flex-direction: row;
    
  }
  .news-letter form input {
    border: solid #ccc 1px;
    padding: 15px 15px;
    border-radius: 0;
    font-size: 14px;
    box-shadow: none;
    /* line-height: normal; */
    align-self: start;
  }
  .news-letter a {
    background-color: var(--hover-color);
    color: #ffffff;
    transition: all 0.3s;
    padding: 15px 15px;
    font-size: 15px;
    /* box-shadow: none; */
    /* border: none; */
    font-weight: 500;
    align-self: start;
  }
  .news-letter a :hover {
    color: #222;
    transition: 0.5s ease-in-out;
  }

  /* Footer section ends */
  
  
  /* Copyright section starts */
  
  .copy-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    text-align: center;
    padding: 20px 0;
  }
  
  .copy-right p,
  a {
    margin: 0;
  
    color: #fff;
    font-size: 15px;
    font-weight: 400;
  }
  
  .copy-right p a {
    color: #f7444e;
  }
  
  /* Copyright section ends */
  